{%load static%}
<head>
  <style>
    .btn{
    	font-size: 18px;
    	text-decoration: none;
    	padding: 15px 20px;
    	border:  1px solid #ffffff40;
      background-color:white;
    }
    .btn:hover{
    	background-color: #ffffff40;
      color:white;
    }
  </style>
</head>
<body style="background-color: #071F30;">

<center>
<img src = "{%static "images/plots/plot1.png"%}">
<img src = "{%static "images/plots/plot2.png"%}">
<img src = "{%static "images/plots/plot3.png"%}">
<img src = "{%static "images/plots/plot4.png"%}">
<img src = "{%static "images/plots/plot5.png"%}">
<img src = "{%static "images/plots/plot6.png"%}">
<img src = "{%static "images/plots/plot7.png"%}">
<img src = "{%static "images/plots/plot8.png"%}">
<img src = "{%static "images/plots/plot9.png"%}">
<img src = "{%static "images/plots/plot10.png"%}">
<img src = "{%static "images/plots/plot11.png"%}">
<img src = "{%static "images/plots/plot12.png"%}">

</center><br><br><br>
<center>
<a href="/" class="btn">Test Another</a></li>
</center>
</body>
